.deleteWarningModal {
    position: absolute;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 5px;
    z-index: 2;
    top: 25%;
    width: 600px;
    left: 25%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .modalFirstRow {
        display: flex;
        justify-content: flex-end;

        .CloseCrossButn {
            font-size: 24px;
        }
    }

    .warningContent {
        display: flex;
        justify-content: center;
        span {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .modalButtons {
        display: flex;
        gap: 20px;
        justify-content: center;

        button {
            padding: 20px 40px;
            border-radius: 5px;
            border: 1px solid transparent;
            background-color: #e62e00;
            font-size: 20px;
            font-weight: 500;
            color: #ffffff;
        }
    }
}